APP_PORT = 2080
APP_USER = 1000

HIGH_PRIORITY_TRIES = 5
HIGH_PRIORITY_DELAY = 3
LOW_PRIORITY_TRIES = 3
LOW_PRIORITY_DELAY = 10

REDIS_HOST = redis
REDIS_PORT = 6379
REDIS_LIMIT_MEMORY = 512M

DB_CONNECTION = pgsql
DB_HOST = postgres
DB_PORT = 5432
DB_DATABASE = notification_db
DB_USERNAME = postgres
DB_PASSWORD = postgres

QUEUE_CONNECTION=rabbitmq
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT = 5672
RABBITMQ_WEB_PORT = 15672
RABBITMQ_USER = guest
RABBITMQ_PASSWORD = guest