APP_PORT = 2080

REDIS_PORT = 6379
REDIS_LIMIT_MEMORY = 512M

POSTGRES_PORT = 5432
POSTGRES_DB = notification_db
POSTGRES_USER = postgres
POSTGRES_PASSWORD = postgres

RABBITMQ_PORT = 15672
RABBITMQ_DEFAULT_USER = rmuser
RABBITMQ_DEFAULT_PASS = rmpassword